Project\ Outputs\ for\ */

*.APR
*.EXTREP
*.GBL
*.GBO
*.GBP
*.GBS
*.GKO
*.GML
*.GMT
*.GTO
*.GTP
*.GTS
*.G1
*.G2
*.GP1
*.GP2
*.GD1
*.GG1
*.RUL
*.REP
*.DRR
*.LDP
*.DRL
*.TXT
*.DFN
*.DXF
*.EMN
*.EMP

*.ConstraintManagerUser
*.WorkspaceUser
*.PcbCorrupt
History/
__Preview/

*.OutJob
*.LOG
*.TXT
*.Dat
*.ERR
*.Rpt
*.htm
*.html
*.xml
Faults.txt
Project_Outputs_for_*/

*.TXT
*.out
*.sim
*.ndf
*.mo
*.swp

*.BomDoc.htm
*.SchDocPreview
*.PcbDocPreview
*.PcbLibPreview
*.SchLibPreview
*.CamPreview
*.TlPreview
*.rcp
*.vhd
*.vhd~
*.v
*.v~
*.bak
*.~*

!*.PrjPcb
!*.SchDoc
!*.PcbDoc
!*.SchLib
!*.PcbLib
!*.OutJob
!*.DbLib
!*.SVNDBLib